* {
    outline: none;
}
a {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

.navbar-default {
    background: #545016;
    border-color: transparent;
    height: 110px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 110px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo-branca {
    display: none!important;
}
#bs-example-navbar-collapse-1 {
    float: right;
    height: 110px;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}

.navbar-nav .fa {
    color: #c3a745;
    font-size: 22px;
}

header ul.nav>li {
    height: 55px;
    padding-top: 18px;
    transition: 1s;
}
header ul.nav>li:hover {
    background: #baa041;
}

header ul.nav li.search:hover {
    background: #545016!important;
}
header ul.nav>li>a {
    font-size: 14px;
    color: #fff!important;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 15px;
}

header .fa {
    color: #a08936!important;

}
.nav li ul li a {
    color: #fff!important;
    text-align: left;
    padding: 10px 30px;
    display: block;
    background: #baa041;
    position: relative;
    z-index: 200;
    top: 17px;
    transition: 1s;
}

.nav li ul li a:hover {
    font-weight: 700;
}

.nav li ul {
    display: none;
    transition: 1s;
}
.nav>li:hover ul {
    display: block;
    transition: 1s;
}

ul.nav {
    height: 110px;
    display: flex;
    align-items: center;
}
ul.nav>li>a {
    font-size: 14px;
    color: #ffffff!important;
    text-transform: uppercase;
    padding: 10px 5px;
}
ul.nav>li>a:hover {
    font-weight: 700;
}

/*VITRINE*/

.vitrine .item img {
    height: 600px;
    object-fit: cover;
}

/*ÁREAS*/

.atuacao {
    margin: 90px 0;
}

.atuacao .items {
    display: flex;
    justify-content: space-between;
}

.atuacao  h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #7e6b29;
}

.atuacao .item {
    height: 265px;
    padding: 25px 15px;
    text-align: center;
}

.atuacao .item h3 {
    color: #7e6b29;
    font-size: 20px;
}

.atuacao .item a {
    color: #cfb14a;
    opacity: 0;
}

.atuacao .item img {
    padding-bottom: 10px;
}

.atuacao .item p {
    padding-bottom: 25px;
}

.atuacao .item .fa {
    font-size: 40px;
    color: #7e6b29;
}

.atuacao .item:hover {
    background-color: #545016;
    border-radius: 10px;
    transition: 1s;
}

.atuacao .item:hover h3 {
    color: #c2a644;
}

.atuacao .item:hover p {
    color: #fff;
}

.atuacao .item:hover a {
    opacity: 1;
}
.atuacao .item:hover .fa {
    color: #c2a644;
}

/*NOTÍCIAS*/

.noticias {
    background-image: url("../images/bg-noticia.jpg");
    background-size: cover;
    height: 710px;
}

.noticias h2 {
    text-align: center;
    color: #fff;
    margin: 60px;
}

.noticias .item {
    padding: 11px;
    text-align: center;
}

.item .texto-noticia {
    background-color: #545016;
    width: 92%;
    height: 95px;
    position: relative;
    margin: -55px auto 0;
    padding: 3px;
}

.item .texto-noticia h4 {
    color: #cb9456;
}

.item .texto-noticia p {
    color: #fff;
}

.btn-geral {
    text-align: center;
    background-color: #caad48;
    border-radius: 20px;
    padding: 13px 70px;
    color: #fff;
    display: table;
    margin: 40px auto 0;
}

.btn-geral:hover {
    background-color: #cb9456;
    color: #fff;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    display: inline-block;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 50px 5px 0;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
    background: #cfb14a;
}

/*EQUIPE*/

.equipe {
    height: 785px;
}

.equipe h2 {
    text-align: center;
    color: #7e6b29;
    margin: 60px;
}

.equipe .item {
    padding: 8px;
    text-align: center;
}

.equipe .texto-equipe {
    background-color: #545016;
    margin: -10px auto 0;
    padding: 10px;
}

.equipe .texto-equipe h4 {
    color: #caad48;
}

.equipe .texto-equipe p {
    color: #fff;
}

/*DECISÕES*/

.decisoes {
    background-image: url("../images/bg-decisoes.jpg");
    background-size: cover;
}
.bloco-decisoes {
    padding: 80px 20px;
}

.bloco-decisoes h2 {

    color: #cfb14a; 
}

.bloco-decisoes p {
    color: #fff;
}

.decisoes .item {
    margin-top: 100px;
    background-color: #ebebe4;
    border-radius: 15px;
    padding: 35px 57px;
    padding-left: 90px;
    height: 320px;
    margin-left: 20px;
}

.decisoes .item img {
    border-radius: 100px;
    width: 90px;
    height: 90px;
    margin: -260px -110px;
}

.decisoes .item h2 {
    margin-top: 0;
    color: #7e6b29;
}

.owl-decisoes {
    margin-bottom: 50px;
}

.redes-sociais {
    margin: 70px;
    height: 615px;
}

.redes-sociais h2 {
    color: #7e6b29;
    text-align: center;
    margin-bottom: 40px;
}

.newsletter {
    background-color: #545016;
    height: 185px;
    display: flex;
    align-items: center;
}

.newsletter .area-news {
    display: flex;
    justify-content: space-between;
}

.newsletter .area-news h3 {
    color: #cfb14a;
}

.newsletter .area-news p {
    color: #fff;
}

.newsletter .area-news .form {
    display: flex;
    align-items: center;
}

.newsletter .area-news .form input {
    height: 43px;
    width: 300px;
    margin-right: -30px;
    border-radius: 20px;
    padding-left: 20px;
}

.newsletter .area-news .form .btn-geral {
    margin: 0;
}

footer {
    height: 325px;
    background-color: #171606;
    color: #545016;
    line-height: 1.8;
    padding: 20px;
}

footer .areas a {
    color: #545016;
}

footer .fa {
    margin-right: 8px;
    font-size: 22px;
}

footer .redes-icons .fa {
    border-radius: 50px;
    margin-right: 8px;
    background-color: #545016;
    width: 35px;
    color: #171606;
    height: 35px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

footer .redes-icons .fa:hover {
    opacity: .5;
}

footer hr {
    border-color: #545016;
}

footer img {
    display: flex;
    margin: 0 auto 0;
}

/*INSTITUCIONAL*/

.institucional {
    margin: 90px 0;
}

ol {
    display: flex;
    float: right;
    margin-top: -50px;
}

.breadcrumb {
    margin-top: -50px;
    float: right;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.titulo-geral {
    color: #545016;
}

.breadcrumb a {
    color: #979796;
}

.breadcrumb .active {
    color: #545016;
}

.institucional p {
    font-size: 16px;
    text-align: justify;
    color: #424242;
}

.titulo-geral {
    border-bottom: 1px solid #baa041;
}

.titulo-geral:after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #545016;
    margin-top: 10px;
}

.institucional .owl-institucional {
    margin: 35px 0;
}

.institucional .owl-institucional .owl-prev {
    background-color: #baa041;
    padding: 10px 30px;
    width: 70px;
    margin-top: -70px;
    position: absolute;
    font-size: 35px;
    color: #fff;
}

.institucional .owl-institucional .owl-next {
    background-color: #a08a38;
    padding: 10px 30px;
    width: 70px;
    margin-top: -70px;
    margin-left: 70px;
    position: absolute;
    font-size: 35px;
    color: #fff;
}

.pagina-noticias {
    margin: 90px 0;
}

.pagina-noticias .item {
    padding: 35px 0;
    text-align: center;
}

.pagina-noticias .titulo-geral:after {
    content: "";
    display: block;
    width: 106px;
    height: 2px;
    background: #545016;
    margin-top: 10px;
}

.contato {
    margin: 90px 0;
}

.contato .titulo-geral:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #545016;
    margin-top: 10px;
}

.contato form {
    margin: 45px 0;
    margin-bottom: 140px;
}

.contato label {
    color: #979796;
}

.contato .btn-geral {
    margin: 29px 0;
    float: right;
}

.maps {
    position: relative;
    padding-bottom: 55%; 
    height: 0;
    overflow: hidden;
}
.maps iframe {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100% !important;
}


/* --- MOBILE --- */
@media (max-width: 767px) {
    #bs-example-navbar-collapse-1 {
        float: none;
        background: #baa041;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -30px;
    }
    .navbar-toggle {
        margin-top: 30px;
    }
    .navbar-header {
        height: 90px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }

    .navbar-nav .fa {
        color: #fff;
    }
    .atuacao .item p {
        padding-bottom: 0;
    }
    .redes-sociais {
        height: auto;
    }
    .equipe {
        height: auto;
    }
    footer {
        height: auto;
    }
    .bloco-decisoes {
        padding: 0px 20px;
    }
    .owl-dots .owl-dot span {
        margin: 0 5px 0;
    }
    .atuacao .items {
        flex-flow: column;
    }
    .newsletter .area-news {
        flex-flow: column;
    }
    .pagina-noticias .img-responsive {
        display: initial;
    }
    .item .texto-noticia {
        width: 254px;
    }
}

@media (max-width: 426px) { 
    .decisoes .item {
    margin-top: 70px;
    padding: 35px 15px;
    margin-left: 0px;
    }
    .decisoes .item h2 {
        font-size: 18px;
    }
    .decisoes .item img {
        margin: -280px -15px;
    }
    .newsletter {
        height: auto;
    }
    .newsletter .area-news .form {
        flex-flow: column;
    }
    .newsletter .area-news .form .btn-geral {
        margin: 10px;
    }
    .newsletter .area-news .form input {
        width: 270px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .equipe {
        height: auto;
    }
    .btn-geral {
        margin: 0px auto 0px;
        font-size: 12px;
        padding: 13px 50px;
    }
    header ul.nav>li>a {
        font-size: 12px;
        padding: 0px 5px;
    }
    .atuacao .item p {
        padding-bottom: 0;
    }
}
@media (min-width: 992px) and (max-width: 1166px) {

}